<div class="panel panel-default" ng-controller="addAccountController as accountCtrl">
	    <div class="panel-heading">Add Accounts Page</div>
	    <div class="panel-body">
   		
   		First name: <input ng-model="accountCtrl.fName" value="tet"></input>
   		</br>
   		Last name: <input ng-model="accountCtrl.lName" value="tet"></input>
   		</br>
   		Account Number: <input ng-model="accountCtrl.accountNumber" value="tet"></input>
   		</br>
   		<button ng-click="accountCtrl.postDetails()">Add Account</button>
   		
	</div>
</div>